.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
  text-align: center;
}

.title {
  font-size: 30px !important;
  font-weight: 700 !important;
  padding: 10px 0;
}

.input_wrapper {
  margin: 10px 0;
}

.checkbox {
  color: rgba(247, 147, 30, 1) !important;
}

.wrapper_button {
  margin: 20px 0;
}

.wrapper_button [class*='MuiButton-root'] {
  padding: 10px 0;
  border: 1px solid #f7931e;
  background-color: #f7931e;
  color: #fff;
  width: 100%;
  border-radius: 12px;
}

.wrapper_button [class*='MuiButton-root']:hover {
  background-color: #f7cfa0;
  color: #000;
}

.question {
  padding: 10px 0;
  font-size: 16px;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: #f7931e;
}
