.container {
  margin: 40px 0;
}

.course_name {
  color: #fff;
  width: fit-content;
  padding: 10px !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  background-color: #af6108;
}

.breadcrums_wrapper {
  margin: 20px 0 !important;
}

.link {
  text-decoration: none !important;
  color: #f7931e;
}

.course_part {
  border-bottom: 1px solid #dee2e6;
}

.title {
  padding: 10px;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #f7931e;
}

.content_wrapper {
  padding: 20px;
}

.enroll_message {
  font-size: 20px;
  color: #fff;
  background-color: green;
  border-radius: 12px;
  padding: 12px;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn {
  color: #fff;
  background-color: #f7931e !important;
}

.btn:hover {
  background-color: #f7931e !important;
}
